html,body {
    width: 100%;
    min-height: 100%;
    background: #F5F5FA;
}
.contant {
    width: 100%;
    height: calc(100% - 1.2rem);
    overflow-y: auto;
}
.header {
    padding: 0.72rem 0 0 0.54rem;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 2.7rem;
    background: url('../images/my/my-bg.png') no-repeat;
    background-size: 100% auto;
    margin-bottom: 0.2rem;
}
.header .header-img {
    width: 1.26rem;
    height: 1.26rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 0.32rem;
    border: 0.01rem solid red;
}
.header .header-img img {
    width: 100%;
    height: 100%;
}
.header .header-word {
    color: #fff;
}
.header .header-word .name {
    font-size: 0.4rem;
    margin-bottom: 0.24rem;
}
.header .header-word .phone {
    font-size: 0.24rem;
}

.my-list .my-li {
    position: relative;
    width: 100%;
    height: 1.2rem;
    background: #fff;
    display: flex;
    align-items: center;
    border-bottom: 0.01rem solid #E2E2E2;
    padding-left: 0.45rem;
}
.my-list .my-li .my-li-img{
    width: 0.5rem;
    height: 0.5rem;
    object-fit: cover;
    margin-right: 0.15rem;
}
.my-list .my-li .my-li-img img{
    width: 100%;
    height: 100%;
}
.my-list .my-li .word {
    color: #111111;
    font-size: 0.32rem;
}
.my-list .my-li .arrow-right {
    position: absolute;
    right: 0;
    width: 0.5rem;
    height: 0.5rem;
}
.my-list .kf-phone {
    margin-top: 0.2rem;
    border-top: 0.01rem solid #E2E2E2;
}

/* 底部 */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.2rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer .footer-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.footer .footer-1 .footer-1-img {
    width: 0.4rem;
    height: 0.4rem;
    margin-bottom: 0.2rem;
    object-fit: cover;
}
.footer .footer-1 .footer-1-img img {
    width: 100%;
    height: 100%;
}
.footer .footer-1 .footer-1-word {
    font-size: 0.2rem;
    color: #8E8E93;
}
.footer .footer-1 .footer-act {
    color: #1A79F9;
}